NETWORK_CREDENTIALS = {
    'WLAN-R57GH89': 'password123456',
}

REQEST_URLS = [
    "https://v6.vbb.transport.rest/stops/900100003/departures?duration=60&results=4&suburban=True&subway=True&tram=True&bus=False&ferry=False&express=True&regional=True",
]